__pycache__/
*.pyc
MUJOCO_LOG.TXT
data/
checkpoints/
verify_out/*
!verify_out/*.json
!verify_out/diag_*/
!verify_out/expert_tune/
verify_out/diag_*/*
verify_out/expert_tune/*
!verify_out/diag_*/montage.png
!verify_out/expert_tune/montage.png
!verify_out/transfer_proto/
verify_out/transfer_proto/*
!verify_out/transfer_proto/*.png
!verify_out/transfer_proto/result.json
!verify_out/scan_pick/
verify_out/scan_pick/*
!verify_out/scan_pick/scan_pick.png
!verify_out/transfer_pool/
verify_out/transfer_pool/*
!verify_out/transfer_pool/pool_matrix.png
!verify_out/transfer_pool2/
verify_out/transfer_pool2/*
!verify_out/transfer_pool2/pool_matrix.png
!verify_out/transfer_dataset_qc.png
